<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/bootstrap.min.css.map">
    <style>
        html,body{
            height: 100%;
            width: 100%;
            overflow: hidden;
            background: #0e0e0e;
        }
        div{
            width: 50%;
            min-height: 300px;
            margin:100px auto 0;
            background:#fff  url(../../images/tree.png) center center no-repeat;
        }



    </style>
</head>
<body>
    <div></div>
</body>
</html>